header{
  font-family: 'Metamorphous';
 color:rgb(14, 55, 177);
 font-size: 1em;  
 background-color: #debe87 ;
 border-style:inset ;
 text-shadow: .5px .5px black;
}
body{
  background-color:#d7b06c;
  font-family: 'Amarante';
  font-size: 15px;
  margin:50px;
}
a:link, a:visited {
  text-align: center;
  background-color: #5a80f2;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(14,55,177);
}
</style>
</head>
<body>

<h2>Link Button</h2>
<p>A link styled as a button:</p>
<a href="default.asp" target="_blank">This is a link</a>
